:root {
  --white-color: #ffffff;
  --secondary-color: #f4f4fd;
  --footer-background-color: #2e2f42;
  --primery-text-color: #434455;
  --text-color: #2e2f42;
  --footer-text-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --focus-color: #404bbf;
  --footer-text-color: #e7e9fc;
}

body {
  background-color: var(--white-color);
  color: var(--primery-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.02em;
  height: 1128;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header----------------------- */
.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--footer-text-color);
}

.logo {
  color: var(--text-color);
  letter-spacing: 0.03em;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.34;
  text-decoration: none;
  text-transform: uppercase;
}

.logo-span {
  color: var(--accent-color);
}

.main-nav,
.header-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item + .item,
.auth-nav .item + .item {
  margin-left: 40px;
}

.site-nav .link,
.site-nav .link-current {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
}

.site-nav .link-current {
  color: var(--accent-color);
}

.address {
  margin-left: auto;
}

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 40px;
}

.auth-nav .link-email,
.auth-nav .link-tel {
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--primery-text-color);
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  font-style: normal;
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link-email:focus,
.auth-nav .link-email:hover,
.auth-nav .link-tel:hover,
.auth-nav .link-tel:focus {
  color: var(--accent-color);
}

/* hero --------------------------*/
.hero {
  background: var(--footer-background-color);
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  width: 494px;
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.hero-button {
  background: var(--accent-color);
  color: var(--white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--focus-color);
}

/* section-------------------------- */
.section {
  padding: 120px 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.section-title {
  color: var(--text-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.hidden {
  display: none;
}

/* feature------------------------- */
.feature {
  display: flex;
  gap: 24px;
}

.feature-title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.feature-list {
  width: calc((100% - 72px) / 4);
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
}

/* works-------------------- */
.works {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
}

/* team------------------------ */
.section-team {
  background: var(--secondary-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  margin-top: 72px;
}
.team {
  background: var(--white-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.content-team {
  padding: 32px 16px;
}

.team-title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* footer------------------------------ */
.footer {
  background: var(--footer-background-color);
  padding: 100px 0;
}

.footer-box {
  width: 264px;
}

.footer .logo {
  color: var(--secondary-color);
}

.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  margin-top: 16px;
}

/* Styles for pornfolio.html ------------*/
.portfolio {
  padding-top: 96px;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter .button {
  background: var(--secondary-color);
  color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  min-width: 69px;
  text-align: center;
}

.filter .button:hover,
.filter .button:focus {
  color: var(--white-color);
  background: var(--focus-color);
}

/* projects---------------------------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.project {
  width: calc((100% - 48px) / 3);
}

/* аьтернатива----------------
 .project {
  width: 360px;
  margin-right: 24px;
  margin-bottom: 48px;
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */

.project .title {
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.project .text {
  font-size: 16px;
  line-height: 1.5;
}

.project .content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
